// Global Settings.
.admin-color-modern {
	--kb-subtle-background: #f0f3fe;
	--kb-subtle-focus-background: #dde4fc;
	--kb-border-color: #64748b;
}

.kbs-tools-panel-body.components-panel {
	h2.kbs-tools-panel-body__title {
		padding: 16px;
		margin: -16px -16px 5px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		color: var(--wp-components-color-foreground, #1e1e1e);
	}
	.components-panel__body-title-text.kbs-tools-panel-body__title-text-with-icon {
		display: flex;
		align-items: center;
		gap: 0.5em;
		svg {
			color: currentColor;
			margin: 0px;
		}
	}
	.kbs-tools-panel-body__tools {
		margin: -8px 0;
		position: relative;
		z-index: 11;
	}
	.kbs-tools-panel-body__tools-dropdown-advanced .components-dropdown-menu__toggle {
		background: var(--kb-subtle-background, #edf2f7);
	}
}
