.kbs-color-mapping-wrap {
	display: grid;
	grid-template-columns: minmax(0, 3fr) minmax(0, 2fr);
	gap: 12px;
	.kbs-color-example-inner {
		background: var(--kbs-colors-palette9);
		padding: 12px;
	}
}
.kbs-color-mapping-grid {
	display: grid;
	grid-template-columns: repeat(1, minmax(0, 1fr));
	gap: 12px;
	padding: 0px;
	background: transparent;
	border-radius: 2px;
	margin-bottom: 12px;
	.kbs-color-select-control__dropdown-category-title {
		margin: 0 0 6px;
		font-size: 1em;
	}
	.kbs-color-select-control__dropdown-category-palette-inner {
		display: flex;
		flex-wrap: wrap;
		gap: 12px;
		.components-base-control.kbs-control.kbs-color-control {
			display: flex;
			flex-direction: column-reverse;
			flex-grow: 1;
			.kbs-color-select-control__dropdown {
				padding: 0px;
				background: transparent;
				.kbs-color-select-control__toggle-button {
					height: auto;
					padding: 6px;
					.component-color-indicator {
						width: 100%;
						height: 45px;
					}
				}
			}
			.kbs-control-title-bar {
				margin: 6px 0 0;
				.kbs-control-title-bar-inner {
					justify-content: center;
				}
			}
				
		}
	}
}
.kbs-global-palette-creator {
	display: flex;
	flex-direction: column;
	gap: 12px;
	.kbs-color-palette_warning {
		margin: 0;
	}
	.kbs-custom-palette-wrap {
		display: flex;
	}
}