@mixin kbs-block-resets {
	margin-top: 0;
	margin-bottom: 0;
	box-sizing: border-box;

	// &.kbs-only-appender {
	// 	.block-list-appender.wp-block {
	// 		align-self: stretch;
	// 		margin-left: 0;
	// 		margin-right: 0;
	// 		position: relative;
	// 		.block-editor-button-block-appender {
	// 			padding: 6px;
	// 			outline: 1px dashed #d5dadf;
	// 			box-shadow: none;
	// 		}
	// 	}
	// }

	* {
		box-sizing: border-box;
	}
}

@mixin kbs-bg-layer {
	.kbs-bg-layer {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background-color: transparent;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		background-attachment: scroll;
		overflow: hidden;
		transition: all 0.3s ease-in-out;

		.kbs-pattern-mask-svg {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
		}
	}
}
