// Global Settings.
.admin-color-modern {
	--kb-subtle-background: #f0f3fe;
	--kb-subtle-focus-background: #dde4fc;
	--kb-border-color: #64748b;
}

.kbs-radio-control .kbs-control-inner {
	.components-toolbar {
		width: 100%;
		display: flex;
		border: 1px solid var(--kb-border-color, #859cb6);
		min-height: 38px;
		justify-content: space-between;
		> div {
			flex: 1;
			justify-content: center;
		}
		.components-button {
			padding-left: 5px;
			padding-right: 5px;
			min-width: 28px;
			width: 100%;
			max-width: 48px;
			&:before {
				left: 5px;
				right: 5px;
			}
			&.is-inherited {
				&:before {
					box-shadow:
						inset 0 0 0 1px var(--kb-subtle-background, #edf2f7),
						0 0 0 var(--wp-admin-border-width-focus) var(--kb-border-color, #859cb6);
					outline: 2px solid var(--wp-components-color-foreground, #1e1e1e);
					background: var(--kb-subtle-background, #eaf3f5);
				}
				&:hover:before,
				&:focus:before {
					box-shadow:
						inset 0 0 0 1px #fff,
						0 0 0 var(--wp-admin-border-width-focus) var(--wp-admin-theme-color);
					outline: 2px solid var(--wp-components-color-foreground, #1e1e1e);
					background: var(--kb-subtle-focus-background, #d9e7ec);
				}
			}
			&.is-pressed {
				&:before {
					background: var(--wp-admin-theme-color, #00669b);
				}
			}
		}
		&.kbs-radio-button-control__group {
			.components-button {
				max-width: 100%;
				justify-content: center;
				svg {
					margin-left: 0;
					margin-right: 0;
				}
			}
		}
	}
	.kbs-radio-button-control__toggle-group {
		background: var(--kb-subtle-background, #edf2f7);
		padding: 2px;
		min-height: 40px;
		border: 0;
		border-radius: 3px;
		&:before {
			border-radius: 4px;
			box-shadow: inset 0px 0px 0px 1px var(--kb-subtle-background, #edf2f7);
		}
		.kbs-radio-button-control__toggle_item {
			height: 36px;
			&:focus {
				box-shadow:
					inset 0 0 0 2px var(--kb-subtle-background, #edf2f7),
					0 0 0 1.5px var(--wp-components-color-accent, var(--wp-admin-theme-color, #3858e9));
			}
			&.kb-is-inherited {
				background: var(--wp-components-color-background, #fff);
				box-shadow: inset 0px 0px 0px 1px var(--kb-border-subtle-color, #d9e7ec);
				border-radius: 4px;
			}
		}
	}
}
.kbs-control .kbs-input-control .components-input-control__container {
	background: var(--kb-subtle-background, #edf2f7);
	.components-input-control__backdrop {
		border-color: var(--kb-subtle-background, #edf2f7);
	}
	.components-input-control__suffix .components-unit-control__select,
	.components-input-control__suffix .components-unit-control__unit-label {
		color: var(--wp-components-color-foreground, #1e1e1e);
		background: transparent;
	}
	&:focus-within:not(:has(:is(.components-input-control__suffix):focus-within)) .components-input-control__backdrop {
		border-color: var(--wp-components-color-foreground, #1e1e1e);
	}
}
.kbs-control .kbs-input-unit-control__input .kbs-input-unit-control__select {
	appearance: none;
	background: transparent;
	border-radius: 1px;
	border: none;
	outline: none;
	margin: 0px;
	min-height: auto;
	font-family: inherit;
	box-sizing: border-box;
	min-width: 24px;
	max-width: 48px;
	height: 24px;
	margin-inline-end: calc(8px);
	padding: calc(4px);
	font-size: 13px;
	line-height: 1;
	text-align-last: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	field-sizing: content;
	display: flex;
	justify-content: center;
	align-items: center;
}
.kbs-control .kbs-flex-input-unit-control {
	display: flex;
	gap: 4px;
	.kbs-input-unit-control__input-number {
		flex: 0 1 130px;
		margin-bottom: 0;
	}
}
.kbs-background-size-input-unit-control {
	display: flex;
	gap: 4px;
	.kbs-input-control {
		margin-bottom: 0;
		flex: 1;
	}
	.kbs-input-unit-control__input-number {
		margin-bottom: 0;
	}
}
.kbs-control .kbs-range-control {
	.components-range-control__wrapper {
		& > span:first-of-type {
			height: 8px;
		}
	}

	.components-range-control__track {
		background: var(--wp-components-color-foreground, #1e1e1e);
		height: 8px;
		border-radius: 6px;
	}

	.components-range-control__thumb-wrapper {
		width: 16px;
		height: 16px;

		& > span {
			width: 16px;
			height: 16px;
			background: var(--wp-components-color-foreground, #1e1e1e);
		}
	}
}
