/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */
@use "./style.scss";

// Remove WP margin added to all blocks.
.wp-block-kbs-text {
	margin-top: 0;
	margin-bottom: 0;
	box-sizing: border-box;

	* {
		box-sizing: border-box;
	}
}

.kbs-text {
	a {
		cursor: text;
	}
}

.kbs-text-content {
	&:focus {
		outline: none;
	}
}
