/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.kbs-text {
	font-family: var(--kbs-text-font-family);
	font-weight: var(--kbs-text-font-weight);
	font-size: var(--kbs-text-font-size);
	line-height: var(--kbs-text-line-height);
	letter-spacing: var(--kbs-text-letter-spacing);
	text-transform: var(--kbs-text-text-transform);
	font-style: var(--kbs-text-font-style);
	color: var(--kbs-text-color);
	background: var(--kbs-text-background-color);

	min-width: 0;

	// Alignment classes
	&.has-text-align-left {
		text-align: left;
	}

	&.has-text-align-center {
		text-align: center;
	}

	&.has-text-align-right {
		text-align: right;
	}

	a {
		text-decoration: var(--kbs-text-link-text-decoration);

		&:hover {
			text-decoration: var(--kbs-text-link-text-decoration-hover, var(--kbs-text-link-text-decoration));
		}
	}

	.kbs-highlight {
		font-family: var(--kbs-text-highlight-font-family);
		font-weight: var(--kbs-text-highlight-font-weight);
		font-size: var(--kbs-text-highlight-font-size);
		line-height: var(--kbs-text-highlight-line-height);
		letter-spacing: var(--kbs-text-highlight-letter-spacing);
		text-transform: var(--kbs-text-highlight-text-transform);
		font-style: var(--kbs-text-highlight-font-style);
		color: var(--kbs-text-highlight-color, var(--kbs-colors-palette-warning));
		background: var(--kbs-text-highlight-background-color);
		border-top-left-radius: var(--kbs-text-highlight-border-top-left-radius);
		border-top-right-radius: var(--kbs-text-highlight-border-top-right-radius);
		border-bottom-right-radius: var(--kbs-text-highlight-border-bottom-right-radius);
		border-bottom-left-radius: var(--kbs-text-highlight-border-bottom-left-radius);
		border-top-width: var(--kbs-text-highlight-border-top-width);
		border-left-width: var(--kbs-text-highlight-border-left-width);
		border-right-width: var(--kbs-text-highlight-border-right-width);
		border-bottom-width: var(--kbs-text-highlight-border-bottom-width);
		border-top-style: var(--kbs-text-highlight-border-top-style);
		border-left-style: var(--kbs-text-highlight-border-left-style);
		border-right-style: var(--kbs-text-highlight-border-right-style);
		border-bottom-style: var(--kbs-text-highlight-border-bottom-style);
		border-top-color: var(--kbs-text-highlight-border-top-color);
		border-left-color: var(--kbs-text-highlight-border-left-color);
		border-right-color: var(--kbs-text-highlight-border-right-color);
		border-bottom-color: var(--kbs-text-highlight-border-bottom-color);
	}

	&.has-gradient {
		.kbs-text-content {
			background-image: var(--kbs-text-color);
			background-clip: text;
			-webkit-text-fill-color: transparent;
			box-decoration-break: clone;
		}
		&:not(.has-gradient-highlight) {
			.kbs-highlight {
				background-clip: initial;
				-webkit-text-fill-color: initial;
				box-decoration-break: clone;
			}
		}
	}
	&.has-gradient-highlight {
		.kbs-highlight {
			background-image: var(--kbs-text-highlight-color);
			background-clip: text;
			-webkit-text-fill-color: transparent;
			box-decoration-break: clone;
		}
	}

	.kt-svg-icon {
		color: var(--kbs-text-icon-color);
		stroke-width: var(--kbs-text-icon-icon-line-width);
		width: var(--kbs-text-icon-icon-size, 24px);
		height: var(--kbs-text-icon-icon-size, 24px);

		&:hover {
			color: var(--kbs-text-icon-hover-color, var(--kbs-text-icon-color));
			stroke-width: var(--kbs-text-icon-icon-hover-line-width, var(--kbs-text-icon-icon-line-width));
			width: var(--kbs-text-icon-icon-hover-size, var(--kbs-text-icon-icon-size, 24px));
			height: var(--kbs-text-icon-icon-hover-size, var(--kbs-text-icon-icon-size, 24px));
		}
	}
}

.kbs-text-content {
	margin: 0;
	padding: 0;
}
