/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.kbs-text {
	font-family: var(--kbs-text-font-family);
	font-weight: var(--kbs-text-font-weight);
	font-size: var(--kbs-text-font-size);
	line-height: var(--kbs-text-line-height);
	letter-spacing: var(--kbs-text-letter-spacing);
	text-transform: var(--kbs-text-text-transform);
	font-style: var(--kbs-text-font-style);

	min-width: 0;

	// Alignment classes
	&.has-text-align-left {
		text-align: left;
	}

	&.has-text-align-center {
		text-align: center;
	}

	&.has-text-align-right {
		text-align: right;
	}

	a {
		text-decoration: var(--kbs-text-link-text-decoration);

		&:hover {
			text-decoration: var(--kbs-text-link-text-decoration-hover, var(--kbs-text-link-text-decoration));
		}
	}
}

.kbs-text-content {
	margin: 0;
	padding: 0;
}
