.kbs-typography-mapping {
	.components-button.kbs-typography-control-btn {
		padding: 12px;
		border-radius: 4px;
		box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
		background: white;
		display: flex;
		justify-content: space-between;
		color: var(--wp-components-color-foreground, #1e1e1e);
		height: auto;
		width: 100%;
		&:hover {
			color: var(--wp-components-color-foreground, #1e1e1e);
			background: color-mix(in srgb, var(--kb-subtle-background, #edf2f7) 50%, transparent);
			box-shadow: inset 0px 0px 0px 1px var(--kb-border-subtle-color, #d9e7ec);
		}
		&.is-pressed {
			background: var(--kb-subtle-background, #edf2f7);
			box-shadow: inset 0px 0px 0px 1px var(--wp-components-color-foreground, #1e1e1e);
		}
		.kbs-typography-control-label {
			font-size: 18px;
			line-height: 1.5;
		}
		.kbs-typography-control-meta {
			display: flex;
			flex-direction: column;
			gap: 10px;
			text-align: right;
		}
		.kbs-typography-control-size-divider {
			margin: 0 8px;
		}
		.kbs-typography-control-label-wrap {
			display: flex;
			align-items: center;
			gap: 12px;
		}
	}
	.kbs-control-inner.kbs-typography-mapping-grid {
		display: grid;
		grid-template-columns: repeat(2, minmax(0, 1fr));
		gap: 12px;
	}
}
