// Global Settings.
svg {
	--kadence-color: #0058b0;
	--kadence-color-white: #fff;
}
.block-editor-list-view-leaf.is-selected .block-editor-list-view-block-contents svg,
.components-button.is-pressed .block-editor-block-icon svg, .components-button.is-primary svg {
	--kadence-color: currentColor;
	--kadence-color-white: var(--wp-admin-theme-color);
}
