/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

@import "../mixins.scss";

@mixin wrapper-styles {
	overflow: auto;
	mask-size: auto;
	mask-repeat: no-repeat;
	mask-position: center;

	border-top-left-radius: var(--kbs-image-border-top-left-radius);
	border-top-right-radius: var(--kbs-image-border-top-right-radius);
	border-bottom-right-radius: var(--kbs-image-border-bottom-right-radius);
	border-bottom-left-radius: var(--kbs-image-border-bottom-left-radius);
	border-top: var(--kbs-image-border-top);
	border-right: var(--kbs-image-border-right);
	border-bottom: var(--kbs-image-border-bottom);
	border-left: var(--kbs-image-border-left);

	mask-image: var(--kbs-image-mask-image);
	box-shadow: var(--kbs-image-box-shadow);
	filter: var(--kbs-image-filter);
}

.kbs-image {
	.kbs-image-img {
		display: block;

		max-width: var(--kbs-image-max-width, 100%);

		//padding?
		//margin?
	}

	// If there's a wrapper, apply certain styles to the wrapper instead of directly on the img
	&:not(.kbs-image-has-wrapper) .kbs-image-img {
		@include wrapper-styles;
	}

	&.kbs-image-has-ratio {
		.kbs-image-img {
			object-fit: cover;
		}
	}

	.kbs-image-wrapper {
		position: relative;
		width: fit-content;

		@include wrapper-styles;
	}

	.kbs-image-caption {
		max-width: var(--kbs-image-max-width, 100%);

		font-family: var(--kbs-image-font-family);
		font-weight: var(--kbs-image-font-weight);
		font-size: var(--kbs-image-font-size);
		line-height: var(--kbs-image-line-height);
		letter-spacing: var(--kbs-image-letter-spacing);
		text-transform: var(--kbs-image-text-transform);
		font-style: var(--kbs-image-font-style);
		color: var(--kbs-image-color);
		background: var(--kbs-image-background-color);
	}
}

@include kbs-bg-layer;
@include kbs-filters;
