/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

@import "../mixins.scss";

.kbs-image {
	.kbs-image-img {
		display: block;
		overflow: auto;
		mask-size: auto;
		mask-repeat: no-repeat;
		mask-position: center;

		border-top-left-radius: var(--kbs-cont-border-top-left-radius);
		border-top-right-radius: var(--kbs-cont-border-top-right-radius);
		border-bottom-right-radius: var(--kbs-cont-border-bottom-right-radius);
		border-bottom-left-radius: var(--kbs-cont-border-bottom-left-radius);
		max-width: var(--kbs-image-max-width, 100%);
	}

	&.kbs-image-has-ratio {
		.kbs-image-img {
			object-fit: cover;
		}
	}

	//fix for wp's max width nonsense
	&.wp-block-kbs-image.wp-block-kbs-image {
	}
}

@include kbs-bg-layer;
