/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

$editor-top-bar-height: 60px;
$editor-bottom-bar-height: 25px;
$editor-control-sidebar-width: 300px;

// Style Book Modal Styles
.kbs-style-book-modal-overlay {
	position: absolute;
	left: 0;
	right: 0;
	top: $editor-top-bar-height;
	height: calc(100% - ($editor-top-bar-height + $editor-bottom-bar-height));
	width: calc(100% - $editor-control-sidebar-width);
	background: rgba(0, 0, 0, 0.7);
}

.kbs-style-book-modal {
	max-width: 90%;
	width: 90%;
	max-height: 90%;
	height: 90%;
}

.kbs-style-book-preview-heading {
	margin-top: 0;
}

.kbs-style-book-content {
}

// Block Preview Styles
.kbs-style-book-block-preview {
	background-color: #f5f5f5;
	padding: 20px;
	border-radius: 10px;
	margin-bottom: 20px;
}

.kbs-style-book-preview-element {
	cursor: pointer;
	border: 1px solid #ddd;
	border-radius: 2px;
	margin-bottom: 1rem;
	padding: 1rem;
	transition: all 0.2s ease;

	&:hover,
	&:focus-visible,
	&.is-selected {
		border-color: var(--wp-admin-theme-color);
		box-shadow: 0 0 0 1px var(--wp-admin-theme-color);
	}
}

.kbs-flex,
.kbs-flex-horizontal {
	display: flex;

	&-horizontal {
		flex-direction: row;

		&.kbs-flex-gap-sm {
			gap: 5px;
		}
		&.kbs-flex-gap-md {
			gap: 10px;
		}
		&.kbs-flex-gap-lg {
			gap: 20px;
		}
		&.kbs-flex-gap-xl {
			gap: 40px;
		}
	}

	.kbs-column {
		flex: 1;
	}
}

.kbs-control-heading {
	font-size: 1.2rem;
	font-weight: bold;
	text-transform: capitalize;
	margin-bottom: 10px;
}

// Tab Styles
.kbs-style-book-tabs {
	.components-tab-panel__tabs {
		border-bottom: 1px solid #ddd;
		margin-bottom: 1.5rem;
	}

	.components-tab-panel__tabs-item {
		padding: 8px 16px;
		margin-bottom: -1px;
		border: none;
		border-bottom: 2px solid transparent;
		background: transparent;
		cursor: pointer;

		&.is-active {
			border-bottom-color: var(--wp-admin-theme-color);
			color: var(--wp-admin-theme-color);
		}
	}
}

// Preview hook ups
.kbs-style-book-preview-typography {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p {
		font-family: var(--kbs-preview-font-family);
		font-weight: var(--kbs-preview-font-weight);
	}
}
