.kbs-select-styled {
	.kbs-select__control {
		background: var(--kb-subtle-background, #edf2f7);
		border: 0;
		min-height: 40px;
		border-radius: 3px;
		.kbs-select__input-container {
			padding-top: 0;
			padding-bottom: 0;
			margin: 0;
			color: var(--wp-components-color-foreground, #1e1e1e);
		}
		input[type="text"] {
			box-shadow: none;
			border: 0;
			color: var(--wp-components-color-foreground, #1e1e1e);
		}
		.kbs-select__indicator {
			color: var(--wp-components-color-foreground, #1e1e1e);
		}
		.kbs-select__indicator-separator {
			background: var(--kb-border-color, #859cb6);
		}
		&.kbs-select__control--is-focused {
			box-shadow: 0px 0px 0px 1px var(--kb-border-color, #859cb6);
		}
		.kbs-select__value-container.kbs-select__value-container--is-multi {
			padding: 4px 8px;
			gap: 4px;
			.kbs-select__multi-value {
				background: var(--wp-components-color-foreground, #1e1e1e);
			}
			.kbs-select__multi-value__label {
				color: var(--wp-components-color-foreground-inverted, #fff);
			}
			.kbs-select__multi-value__remove {
				color: var(--wp-components-color-foreground-inverted, #fff);
				background: var(--wp-components-color-foreground, #1e1e1e);
			}
		}
	}
	.kbs-select__option--is-focused {
		background: var(--kb-subtle-background, #edf2f7);
		color: var(--wp-components-color-foreground, #1e1e1e);
	}
	.kbs-select__option--is-selected {
		background: var(--wp-admin-theme-color, #00669b);
		color: var(--wp-components-color-foreground-inverted, #fff);
	}
}
