/**
 * Responsive Radio Range Control Styles
 */

.kbs-responsive-radio-range-control {
    margin-bottom: 24px;
    
    .kbs-responsive-radio-range-inner {
        position: relative;
    }
    
    .kbs-radio-range-inherited-source {
        margin-top: 5px;
        font-size: 12px;
        color: #757575;
    }
} 