
.kbs-control-title-bar {
    display: flex;
    flex-wrap: nowrap;
	align-items: center;
    gap: 8px;
    margin-bottom: 8px;
	.kbs-control-title-bar-inner {
		flex-grow: 1;
		display: flex;
		align-items: center;
	}
	.kbs-reset-wrap {
		overflow: hidden;
		width: 24px;
		padding: 0 2px;
		.components-button.kbs-reset-button {
			background: transparent;
			border: 0;
			box-shadow: none;
			color: var(--kb-subtle-color, #a0aec0);
			display: flex;
			font-size: 18px;
			height: auto;
			height: 18px;
			margin: 0 0 0 -22px;
			min-width: 20px;
			outline: 0;
			padding: 0;
			width: 20px;
			svg {
				width: 1em;
				height: 1em;
			}
		}
	}
	&:hover {
		.kbs-reset-wrap .components-button.kbs-reset-button {
			margin: 0 0 0 0;
		}
	}
}